@import '../../Assets/variables';
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Zen+Kurenaido&display=swap');

.main{
  width:45vw;
  margin:2.5vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Kdam Thmor Pro', sans-serif;

  h1{
    height: 8vh;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2em;
    margin: 0.5em;
    color:$back-hover;
  }
 
  .rec{
    height: 42.5vh;
    background-color: white;
    box-shadow:3px 4px 5px 4px rgba(0,0,0,0.4);
    border-radius:5px;
    width:35vw;
    overflow-y: scroll; 
    scrollbar-width: none;
    -ms-overflow-style: none;
    display:flex;
    flex-direction: column;
    align-items: center;
}

  .rec::-webkit-scrollbar{
    display: none;
  }

  .noc{
    font-size: 1.7em;
    color:$line;
  }

  .card{
  width:30vw;
  background-color:#dee2e6;
  border:1px solid #dee2e6;
  box-shadow:3px 4px 5px 4px rgba(0,0,0,0.4);
  margin-top:10px;
  margin-bottom:10px;


  h2{
    font-size: 1.7em;
    margin: 5px;
    color:$line;
  }

  p{
    font-size:1.4em;
    color:$back-hover;
    margin: 5px;
  }
  }
}