@import '../../Assets/variables';
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Zen+Kurenaido&display=swap');

*{
  margin:0;
}

.main{
  width:100vw;
  margin:0;
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: #e9ecef;
  
  .top{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:95vw;
    height:8vh;
    margin-top:1em;
    font-weight: bold;
    background-color: #343a40;
    box-shadow:3px 4px 5px 4px rgba(0,0,0,0.4);

    a{
      font-size:30px;
      background-color: #343a40;
      color:$back-hover;
      width:5vw;
      padding-left:1vw;

    &:hover{
      color:$text;
      transition: 0.6s ease;
    }
    }

    h1{
      padding-right:5vw;
      font-family: 'Kdam Thmor Pro', sans-serif;
      font-size:30px;
      background-color: #343a40;
      color:$back-hover;
      width:95vw;
      display:flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 3px;
    }

  }

  .mid{
    width: 100vw;
    height: 95vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

    .iconsec{
        width:45vw;
        margin:3.5vw;
        height: 77vh;
        background-color: white;
        box-shadow:3px 4px 5px 4px rgba(0,0,0,0.4);
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
          height: 8vh;
          font-family: 'Kdam Thmor Pro', sans-serif;
          font-size:30px;
          color:$back-hover;
          padding:15px;
        }
        
        .icons{
          display: grid;
          grid-template-columns: 1fr 3fr;
          justify-content: center;
          align-items: center;
          width:40vw;
          height: 60vh;

          svg{
            font-size: 4em;
            color: $line;
          }

          p{
            font-size: 2em;
            color:$text;
            font-family: 'Kdam Thmor Pro', sans-serif;
          }

        }


        }





    .wrap{
      width:45vw;
      margin:2.5vw;
      height: 85vh;
      background-color: #e9ecef;

      .par{
        background-color: white;
        box-shadow:3px 4px 5px 4px rgba(0,0,0,0.4);
        margin:1em;
        width: 45vw;
      }

      h1{
          font-family: 'Kdam Thmor Pro', sans-serif;
          font-size:30px;
          color:$back-hover;
          padding:15px;
        }

        p{
          width: 43vw;
          padding:15px;
          font-family: 'Kdam Thmor Pro', sans-serif;
          font-size:20px;
          color:$text;
        }
        a{
          font-family: 'Kdam Thmor Pro', sans-serif;
          font-size:20px;
          color:$line;
          text-decoration: none;
        }

      }
  }
}