@import '../../Assets/variables';
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Zen+Kurenaido&display=swap');

.main{ 
  width:60vw;
  height:125vh;
  margin:2.5vw;
  display:flex;
  flex-direction: column;
  align-items:center;
  font-family: 'Kdam Thmor Pro', sans-serif;
  box-shadow:3px 4px 5px 4px rgba(0,0,0,0.4);

  h1{
    margin:3px;
    height:10vh;
    text-align: center;
    display:flex;
    align-items: center;
    font-size: 2.7em;
    color:$back-hover;
    letter-spacing: 3px;
  }

  .cards{
    height: 85vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    border-top:1px solid lightgray;
    border-bottom: 1px solid lightgrey;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .cards::-webkit-scrollbar{
    display: none;
  }

  .ads{
    color:$back-hover;
    margin-bottom:2.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
      height: 6vh;
      padding:0;
      font-size: 1.5em;
    }

    .wrap{
      display:flex;
      justify-content: space-around;
      width: 65vw;

      div{
        display: flex;
        flex-direction: column;
        box-shadow:3px 4px 5px 4px rgba(0,0,0,0.4);
      }
    }

    img{
      width:25vw;
      height: 25vh;
    }

    a{
      text-decoration: none;
      color:$back-hover;
      font-size: 1.4em;

      &:hover{
        color:$text-hover;
        transition: 0.6s ease;
      }
    }
  }

}

