@import '../../Assets/variables';
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Zen+Kurenaido&display=swap');

*{
  margin:0;
} 

.main{
  width:100vw;
  margin:0;
  display: flex;
  flex-direction: column;
  align-items:center;
  
  .top{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:95vw;
    height:8vh;
    margin-top:1em;
    font-weight: bold;
    background-color: #dee2e6;
    box-shadow:3px 4px 5px 4px rgba(0,0,0,0.4);

    a{
      font-size:30px;
      background-color: #dee2e6;
      color:$back-hover;
      width:5vw;
      padding-left:1vw;

    &:hover{
      color:$text-hover;
      transition: 0.6s ease;
    }
    }

    h1{
      padding-right:5vw;
      font-family: 'Kdam Thmor Pro', sans-serif;
      font-size:30px;
      background-color: #dee2e6;
      color:$back-hover;
      width:95vw;
      display:flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 3px;
    }

  }

.formlist{
  width: 100vw;
  height: 70vh;
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;

  .formH{
    width:45vw;
    margin:2.5vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kdam Thmor Pro', sans-serif;

  }

  .h2{
    height: 8vh;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2em;
    margin: 0.5em;
    color:$back-hover;
  }

  .form{
    height: 42.5vh;
    background-color: white;
    box-shadow:3px 4px 5px 4px rgba(0,0,0,0.4);
    border-radius:5px;
    width:35vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    p{
      color:$line;
      font-size: 1.7em;
      padding:10px;
    }

    input{
      margin:10px;
      font-family: 'Kdam Thmor Pro', sans-serif;
      color:$back;
      border:1px solid #dee2e6;
      background-color: #dee2e6;
      box-shadow:3px 4px 5px 4px rgba(0,0,0,0.4);
    }

    select{
      margin:10px;
      font-family: 'Kdam Thmor Pro', sans-serif;
      color:$back;
      background-color: #dee2e6;
      box-shadow:3px 4px 5px 4px rgba(0,0,0,0.4);
      border:1px solid #dee2e6;
    }

    h3{
      width:3vw;
    }

    .btn{
      font-size: 1.8em;
      color:$back-hover;
      background-color: white;
      border:none;

      &:hover{
      color:$line;
      transition: 0.6s ease;
      }
    }

    .rates{
      display:flex;
      justify-content: space-around;
      align-items: center;
      font-family: 'Kdam Thmor Pro', sans-serif;
      color:$back;

      h3{
        display:flex;
        justify-content: space-around;
        text-align: center;
        font-size: 1.8em;
        color:$line;
      }
    }
    .sbmt{

          button{
          margin:10px;
          width:7.5vw;
          display:flex;
          justify-content: space-around;
          align-items: center;
          font-size: 1.2em;
          font-weight: 700;
          font-family: 'Kdam Thmor Pro', sans-serif;
          color:$back;
          background-color: #dee2e6;
          border:1px solid #dee2e6;
          border-radius:3px;
          box-shadow:3px 4px 5px 4px rgba(0,0,0,0.4);
    
          &:hover{
          color:$back-hover;
          background-color: $line;
          border:1px solid $line;
          transition: 0.6s ease;
          }
        }
      }

  }
}
}