@import '../../Assets/variables';
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Zen+Kurenaido&display=swap');

*{
  margin:0;
}

.main{
  width:100vw;
  height:100vh;
  margin:0;
  
  .top{
    display:flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 5px solid $line;
    width:100vw;
    height:10vh;

    a{
      font-size:30px;
      background-color: white;
      color:$text;
      width:5vw;
      padding-left:1vw;

    &:hover{
      color:$text-hover;
      transition: 0.6s ease;
    }
    }

    h1{
      padding-right:5vw;
      font-family: 'Kdam Thmor Pro', sans-serif;
      font-size:30px;
      background-color: white;
      color:$text;
      width:95vw;
      display:flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 3px;
    }

  }
}