@import '../../Assets/variables';
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Zen+Kurenaido&display=swap');

*{
  margin:0;
} 

.main{
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    h1{
      color:$back-hover;
      font-size: 2.6em;
      margin: 0.3em;
      }

  .logarea{
    width:30vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow:3px 4px 5px 4px rgba(0,0,0,0.4);
    font-family: 'Kdam Thmor Pro', sans-serif;

    

    h2{
      color:$line;
      font-size: 2.2em;
      margin: 0.3em; 
    }

    .err{
      color:#9d0208;
      font-size: 1.2em;
      margin-left: 10px;
    }

    p{
      color:$back-hover;
      font-size: 1.8em;
      margin-left: 10px;
    }

    .question{
      margin-top:0.7em;
      color:$line;
    }

    input{
      font-size: 1.3em;
      margin:0.5em;
      font-family: 'Kdam Thmor Pro', sans-serif;
      color:$back;
      border:1px solid #dee2e6;
      background-color: #dee2e6;
      box-shadow:3px 4px 5px 4px rgba(0,0,0,0.4);
    }

    input:focus{
      outline:none;
    }

    button{
      margin:5px;
      padding:2px 10px 2px 10px;
      border-radius: 20px;
      font-size: 30px;
      border: none;
      letter-spacing: 2px;
      color:$line;
      background-color: $text;
      
  
      &:hover{
        color:$line;
        background-color: $back-hover;
        transition: 1s ease;
      }
    }

    a{
      margin:0.5em;
      padding:2px 10px 2px 10px;
      border-radius: 20px;
      color:$line;
      background-color: $text;
      font-size: 1.5em;
      border: none;
      text-decoration: none;
      letter-spacing: 2px;
  
      &:hover{
        color:$line;
        background-color: $back-hover;
        transition: 1s ease;
      }
  
  
    }
  }
}