@import '../../Assets/variables';
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Zen+Kurenaido&display=swap');

*{
  margin:0;
} 

.main{
width:95vw;
height:8vh;
margin-top:1em; 
font-weight: bold;
background-color: #343a40;
display:flex;
align-items: center;
justify-content: space-around;
box-shadow:3px 4px 5px 4px rgba(0,0,0,0.4);

  a{
    margin-left:0.7em;
    padding:0.1em 0.7em 0.1em 0.7em;
    border-radius: 20px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color:$back-hover;
    font-size: 30px;
    border: none;
    text-decoration: none;
    letter-spacing: 2px;

    &:hover{
      color:$line;
      background-color: $text;
      transition: 1s ease;
    }


  }

  .typewriting p{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 2em;
    font-weight: 700;
    color:$text;
    overflow: hidden;
    border-right: .3em solid transparent; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .01em; 
    animation: 
      typing 2s steps(35, end),
      blink-caret .75s step-end 8;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: $text-hover; }
  }
}

.signout{
  padding:0.1em 0.7em 0.1em 0.7em;
  border-radius: 20px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  padding:10p;
  color:$back-hover;
  background-color: #343a40;
  font-size: 30px;
  border: none;
  text-decoration: none;
  letter-spacing: 2px;

  &:hover{
    color:$line;
    background-color: $text;
    transition: 1s ease;
  }
  }